.title {
  width: 100px;
  &__title {
    font-size: 1.7em ;
    text-align: center;
    color: $grey;
    margin-bottom: .5em;
    text-transform: capitalize;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
  &__step {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $bg;
    transition: background-color .2s ease;
    margin-bottom: 3em;
    &.active {
      background-color: $purple;
    }
    &.break {
      background-color: $orange;
    }
    &.end {
      background-color: $green;
    }
  }
}