html {
  font-size: $fz;
  font-family: $ff;
  color: $white;
}

body {
  background: $bg-main;
  user-select: none;
  max-height: 100vh;
}

a {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: $grey;
  transition: color .2s ease;
  &:hover {
    color: $white;
  }
}