html {
  font-size: $fz;
  font-family: $ff;
  color: $white;
}

body {
  background: $bg-main;
  user-select: none;
  max-height: 100vh;
}

a {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
  color: $grey;
  font-size: 0.8em;
}
